# Environments
venv/
env/
.env

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Testing
.pytest_cache/

# Raw Data
data/

# Example entries in .gitignore
models/
*.pt
*.bin
*.safetensors
*.json
.venv/

# Ignore data & databases
data/*.csv
*.db
*.index
models/
venv/
*.zip
*.safetensors
reportcopy.txt

tests/eval
